<div class="row">	
	<div class="large-6 columns">
		<h3>
			The following is an idea, an idea about containing music and not letting it disappear for students throughout the US. 
		</h3>
		</br>

		<ul data-orbit>
  			<li>
				<img src="Transport-Final.jpg"></img>
			</li>
			<li>
				<img src="Performance-Final.jpg"></img>
			</li>
		</ul>

	</div>

	<div class="large-6 columns">
		<div class="drop-down">
			<h3>
				THE GOOD
			</h3>
			<p class="hidden"> 
				Music education sells itself. Study upon study illustrates the benefits of music instruction to child development. Children who receive musical instruction score higher on spatial-temporal tests than those in a control group. Reading ability and verbal memory has been shown to improve with a long enough exposure to music. In other words, the benefits reach far beyond the band room.
			</p>
		</div>
		<div class="drop-down">
			<h3>
				THE NOT SO GOOD
			</h3>
			<p class="hidden">
				Music programs throughout the nation are in danger of being cut and many have already. Financially constrained districts must choose between a myriad of school programs as their budgets are diminishing. Music programs are seen as expensive to administer due to personnel and equipment costs. The value of musical programs is not seen unless communities rally and fight to keep them alive.
			</p>
		</div>
		<div class="drop-down">
			<h3>
				THE IDEA :: CONTAINER OF MUSIC
			</h3>
			<p class="hidden">
				 The Container of Music was born at the intersection of design, music and infrastructure. It’s an all things music toolkit, a combination classroom, concert hall and recording studio. It rolls from place to place, and rocks along the way. Like any tool, it is in development and that’s where you come in... 
			</p>
		</div>
	</div>	
</div>