<div class="row">
	<div class="large-6 column"> 
		<h1> 
			“Without music, 
			</br>
			life would be a mistake.”
		</h1>
		
		<h3 id="author"> 
			- Friedrich Nietzsche  
		</h3>

		<div>
			<h2>Here’s the thing, I need your help! </h2>
			<h3>The only way I see this working is with the advice, knowledge and resources of a community of like-minded individuals who believe in the mission to bring or maintain music education to and for students.</h3>
		</div>
	</div>


	<div class="large-6 column">
		<div class="drop-down">
			<h3>
				EDUCATION
			</h3>
			<div class="hidden">
				<p>	Teachers, principals, administrators. We’re looking for people and organizations with a working knowledge of the current system of music education. Also, those with a working knowledge of the future system of music education are welcome to let us know what’s coming.</p>
				</br>
				<a id="involved" href="/help">GET INVOLVED</a>
			</div>
		</div>
		
		<div class="drop-down">
			<h3>
				PERFORMANCE
			</h3>
			<div class="hidden">
				<p>Musicians, composers, band managers, roadies, groupies. Do you know what makes a(n) good incendiary show? How to pull permits and crowds at the same time? We are looking for you!</p>
				</br>
				<a id="involved" href="/help">GET INVOLVED</a>
			</div>
		</div>

		<div class="drop-down">
			<h3>
				TRANSPORT
			</h3>
			<div class="hidden">
				<p>Traffic engineers, drivers, shipping experts. If you 
				like to move it, move it we want to hear about it. </p>
				</br>
				<a id="involved" href="/help">GET INVOLVED</a>
			</div>
		</div>

		<div class="drop-down">
			<h3> 
				RECORDING
			</h3> 
			<div class="hidden">
				<p>Sound engineers, acousticians, those with ears. Digital recording technology is constantly improving and integrating these technologies with the modern classroom and studio alike are of paramount importance.</p>
				</br>
				<a id="involved" href="/help">GET INVOLVED</a>
			</div>
		</div>

		<div class="drop-down">
			<h3> 
				BUILD 
			</h3>
			<div class="hidden">
				<p>Engineers, shop teachers, contractors, trailer manufacturers. Bringing this thing to life is going to take design ingenuity and collaboration.</p>
				</br>
				<a id="involved" href="/help">GET INVOLVED</a>
			</div>
		</div>
	</div>
</div>
