@import "foundation/variables";
@import "foundation/components/global";
@import "foundation/components/block-grid";
$per-row: 3;
$spacing: $block-grid-default-spacing;
$base-style: true;

@import url(http://weloveiconfonts.com/api/?family=entypo);

/* zocial */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

.entypo-right {
	margin-top: 10%;
	font-size: 3em;
}


body {
	background-color: #f1f0ee
}

body#index {
	background-color: white
}

.container-title{
	margin-left: 5%;
	text-align: left;
	display: block;
	float: left;
	width: 100%;
}

.title span {
	color: black;
	width: 75%;
	font-family: 'Exo', sans-serif;
	font-weight: 900;
	font-size: 5em;
	line-height: 1.5;
}

#arrow {
	padding-top: 10%;
}

li.name h1 a{
	font-family: 'Exo', sans-serif;
	font-weight: 800;
	font-size: 2em;
	color: #595750;
}

li.name a {
	color: #595750;
}

.title a {
	font-family: 'Exo', sans-serif;
	font-weight: 900;
	font-size: 1.5em;
	text-decoration: none;
	line-height: 1.55;
	width: 10%;
	color: white;
}

.container{
	height: 100%;
	width: 80%;
	background-color: white;
	padding: 5%;
	margin: auto;
}

.drop-down {
	border: 3px solid black;
	margin-top: 5%;
	text-align: center;
	padding: 10px;
}

.dropdown h3{
	font-family: 'Exo', sans-serif;
	font-weight: 600;
}

#flatbutton {
	border-radius: 20px;
	border: none;
	padding: 15px;
	font-size: 1em;
	color: white;
}

.hidden {
	display: none
}

#email-form{
	margin-top: 5%;
	background-color: #272623;
	padding: 5%;
}

.active img {
	margin: auto;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	font-size: 1.2em;
}

div.drop-down h3{
	font-family: 'Exo', sans-serif;
	font-weight: 600;
}

#author {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	font-style: italic;
}

#what {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
}

.top-bar .title-area .name h1 a {
	color: #595750
}

.top-bar-section ul li > a { 
	font-family: 'Exo', sans-serif;
	font-weight: 900;
	size: 2em
}
